h1 {
    background-color: #ff80ff;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
    border-width: 0%;
    border-top: 0%;

}

body {
    background-color: hsl(62, 100%, 94%);
}

div {
    text-align: center;
}

#comments {
    resize: none;
    width: 70vw;
    height: 20vh;
}

* {
    margin-left: 0%;
    margin-right: 0%;
}

#tophd {
    width: 100vw;
    height: 10vh;
    margin: 0%;
    padding: 0%;
    background-color: #ff80ff;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;



}